flask>=3.0.0
geopandas
joblib>=1.1.0
lightgbm>=3.3.0
matplotlib>=3.5.0
numpy>=1.21.0
osmium
osmnx
pandas>=1.5.0
psycopg[binary]
pyproj
python-dotenv
pyyaml
requests
scikit-learn>=1.0.0
seaborn>=0.12.0
shapely
torch
torchvision
tqdm
fastapi
uvicorn
xgboost>=1.7.0